@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Raleway";
    src: url("../assets/font/Raleway-VariableFont_wght.woff2") format("woff2-variations"),
         url("../assets/font/Raleway-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
  }

  html {
    font-family: "Raleway", system-ui, sans-serif;
  }
}

@layer components {
  .wrapper {
    @apply max-w-6xl px-4 mx-auto scroll-m-24 md:px-8;
  }

  .hamburguer.open span:nth-of-type(1) {
    @apply translate-y-[200%] rotate-45;
  }
  .hamburguer.open span:nth-of-type(2) {
    @apply -translate-x-2 opacity-0;
  }
  .hamburguer.open span:nth-of-type(3) {
    @apply -translate-y-[200%] -rotate-45;
  }

  .hamburguer.open + .menu {
    @apply translate-x-0;
  }

  .title {
    @apply text-white font-bold text-2xl text-balance lg:text-3xl;
  }

  .custom-focus-visible {
    @apply focus-visible:outline-2 focus-visible:outline-double focus-visible:outline-accent focus-visible:outline-offset-2;
  }

  .btn {
    @apply custom-focus-visible px-4 py-3 font-semibold text-sm border border-solid border-accent transition-all duration-300 hover:scale-110 hover:bg-tertiary hover:border-tertiary hover:text-accent lg:text-base;
  }

  .btn--primary {
    @apply bg-accent text-primary;
  }

  .btn--secondary {
    @apply text-accent;
  }

  .card {
    --size: 2px;
    --negative-size: calc(var(--size) * -1);
    --bg: #00ff2280;
  }
  
  .top,
  .bottom,
  .left,
  .right {
    position: absolute;
    animation: 3s linear infinite;
  }

  .top {
    top: var(--negative-size);
    left: var(--negative-size);
    height: var(--size);
  }

  .card:hover .top {
    animation-name: top;
  }

  .bottom {
    bottom: var(--negative-size);
    right: var(--negative-size);
    height: var(--size);
  }

  .card:hover .bottom {
    animation-name: bottom;
  }
  
  .left {
    bottom: var(--negative-size);
    left: var(--negative-size);
    width: var(--size);
  }

  .card:hover .left {
    animation-name: left;
  }
  
  .right {
    top: var(--negative-size);
    right: var(--negative-size);
    width: var(--size);
  }

  .card:hover .right {
    animation-name: right;
  }

  @keyframes top {
    25% {
      width: 0;
      background-color: var(--bg);
    }
    38% {
      width: calc(100% + 4px);
      background-color: var(--bg);
    }
    50% {
      background-color: var(--bg);
    }
    62% {
      background-color: var(--bg);
    }
    75% {
      width: calc(100% + 4px);
      background-color: var(--bg);
    }
    88% {
      left: auto;
      right: var(--negative-size);
      width: 0;
      background-color: var(--bg);
    }
  }

  @keyframes bottom {
    0% {
      width: 0;
    }
    12% {
      width: calc(100% + 4px);
      background-color: var(--bg);
    }
    25% {
      background-color: var(--bg);
    }
    38% {
      background-color: var(--bg);
    }
    50% {
      width: calc(100% + 4px);
      background-color: var(--bg);
    }
    62% {
      left: var(--negative-size);
      width: 0;
      background-color: var(--bg);
    }
    75% {
      background-color: var(--bg);
    }
  }

  @keyframes left {
    12% {
      height: 0;
      background-color: var(--bg);
    }
    25% {
      height: calc(100% + 4px);
      background-color: var(--bg);
    }
    38% {
      background-color: var(--bg);
    }
    50% {
      background-color: var(--bg);
    }
    62% {
      height: calc(100% + 4px);
      background-color: var(--bg);
    }
    75% {
      top: var(--negative-size);
      height: 0;
      background-color: var(--bg);
    }
    88% {
      background-color: var(--bg);
    }
  }

  @keyframes right {
    38% {
      height: 0;
      background-color: var(--bg);
    }
    50% {
      height: calc(100% + 4px);
      background-color: var(--bg);
    }
    62% {
      background-color: var(--bg);
    }
    75% {
      background-color: var(--bg);
    }
    88% {
      height: calc(100% + 4px);
      background-color: var(--bg);
    }
    100% {
      top: auto;
      bottom: var(--negative-size);
      height: 0;
      background-color: var(--bg);
    }
  }
}